@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="col-md-6">
    <h1>TIY Sports</h1>
        <p>&hearts; For the students of The Iron Yard</p>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Content/Images/football.jpg" />
            <div class="caption text-center">
                <h2>Football</h2>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Content/Images/baseball.jpg" />
            <div class="caption text-center">
                <h2>Baseball</h2>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Content/Images/basketball.jpg" />
            <div class="caption text-center">
                <h2>Basketball</h2>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Content/Images/quidditch.jpg" />
            <div class="caption text-center">
                <h2>Quidditch</h2>
            </div>
        </a>
    </div>
    </div>

    <div class="row">        
            <div class="alert alert-warning" role="alert">We've added some brand new features in version 2.0! <a href="#" class="alert-link">Learn More</a></div>             
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Games</div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <td>Number</td>
                            <td>Home Team</td>
                            <td>Away Team</td>
                            <td>Score</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


